/* ----------------------------------------Header */

.navbar-brand {
    font-size: xx-large;
}

a.nav-link{
    font-size: larger;
    padding-left: 15px !important;
    color: white !important;
}

.bg-dark {
    background-color: rgba(0,0,0,0.75) !important;
}

/* ----------------------------------------Photos */

.home-photo {
    background: url("../images/home.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.about-photo {
    background: url("../images/about.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

/* ----------------------------------------Footer */



.social-links li a i {
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 110px;
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 100%;
    font-size: 15px;
    line-height: 9px;
    text-align: center;
    color: rgba(0,0,0,0.75);
    background: #fafafa;
    }




.featurette{

    padding-top: 100px;
    padding-bottom:20px;
}

