/* ----------------------------------------Header */

/* I used https://stackoverflow.com/questions/34527775/how-to-increase-bootstrap-navbar-brand-font-size/34528795 to assist with the below code */

.navbar-brand {
    font-size: xx-large;
}

a.nav-link{
    font-size: larger;
    padding-left: 15px !important;
    color: white !important;
}

/* Used https://www.w3schools.com/css/css3_colors.asp for assistance with color code */

.bg-dark {
    background-color: rgba(0,0,0,0.75) !important;
}

/* ----------------------------------------Photos */

/* I used course content code to assist with the below */

.home-photo {
    background: url("../images/home.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.about-photo {
    background: url("../images/about.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

/* ----------------------------------------Features */

.featurette{
    padding-top: 100px;   
}

.mywork-heading { text-align: center;
padding-bottom: 20px;}

.card {height: 360px;}

.contact {
    padding-top:40px;
    padding-bottom:40px;
}

.contact-heading { text-align: center;
padding-bottom: 20px;}



/* ----------------------------------------Footer */

/* I used course content code to assist with the below */

.social-links li a i {
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 110px;
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 100%;
    font-size: 15px;
    line-height: 9px;
    text-align: center;
    color: rgba(0,0,0,0.75);
    background: #fafafa;
    }






